<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300019064207-cqb46dq1eqi0sbok4bujfj1ibok2tq20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300019064207-cqb46dq1eqi0sbok4bujfj1ibok2tq20</string>
	<key>API_KEY</key>
	<string>AIzaSyBSRtLjgBISgrhDZUftYPRKTHbXfxwZMww</string>
	<key>GCM_SENDER_ID</key>
	<string>300019064207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rybin.Inc.telegramClone</string>
	<key>PROJECT_ID</key>
	<string>telegramclone-85348</string>
	<key>STORAGE_BUCKET</key>
	<string>telegramclone-85348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300019064207:ios:2c3d3a713dccb29f9d3ffa</string>
</dict>
</plist>